html {
	background-color: #212121;
}

body {
	font-size: 20px;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	display: block;
	height: 50px;
	margin-top: 30px;
	border: 0;
	font-size: 17px;
	background-color: #424242;
	color:#daca3c;
	width: 100%;
}

.btn:hover {
	filter: brightness(120%);
}

.userid {
	color: #daca3c;
}

.hostid {
	color: #daca3c;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	filter: drop-shadow(16px 20px 5px #111111);
}

a {
	color: #636363;
	text-decoration: none;
}

.bottom-bar {
	width: 100%;
	text-align: right;
}

.join-header {
	color:#daca3c;
	text-align: center;
	background: #212121;
	box-sizing: border-box;
    border: 2px solid #636363;
}

.poster {
	flex-direction: column;
	position: absolute;
	z-index: 5;
	margin-top: 17px;
	margin-left: -1px;
}

h1 {
	z-index: 10;
}

.cell {
	display: block;
	background-color: #4df163;
	height: 40px;
	width: 40px;
	border-top: 2px solid #636363;
	border-right: 2px solid #636363;
}

.apple {
	display: block;
	background-color: #ff5959;
	height: 40px;
	width: 40px;
	border-left: 2px solid #636363;
	border-bottom: 2px solid #636363;
	border-right: 2px solid #636363;
	margin-top: -100px;
	margin-left: 345px;
}

.eyes {
	margin-top: -20px;
	margin-left: 20px;
	font-size: 50px;
	color: black;
}

.body {
	margin-left: 42px;
	margin-top: -42px;
}

.head {
	margin-left: 84px;
	margin-top: -42px;
}

.join-main {
	box-sizing: border-box;
    border: 2px solid #636363;
	border-top: none;
	padding: 30px 40px;
	background: #212121;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	box-sizing: border-box;
	border: 2px solid #636363;
	color:#eaeaea;
	background-color: #212121;
	height: 50px;
	width: calc(100%);
	margin: 0;
}